.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.game-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  width: 100;
}
.move-button{
  margin: 0 0 20px;
  padding: 10px 20px;
  width: 200px;
  border-radius: 5px;
  font-weight: 200;
  text-decoration: none;
  background-color: #27ae60;
}